@tailwind base;
@tailwind components;
@tailwind utilities;


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

@keyframes slide {
    0%, 20% { transform: translateX(0%); }
    25%, 45% { transform: translateX(-100%); }
    50%, 70% { transform: translateX(-200%); }
    75%, 100% { transform: translateX(0); }

}

.animate-slide {
    animation: slide 20s infinite;
}

@keyframes card-slide {
    0%, 10% { transform: translateX(0%); }
    15%, 25% { transform: translateX(-100%); }
    35%, 45% { transform: translateX(-200%); }
    55%, 65% { transform: translateX(-300%); }
    75%, 85% { transform: translateX(-400%); }
    90%, 100% { transform: translateX(0%); }

}

.card-animate-slide {
    animation: card-slide 30s infinite;
}
